@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

.navbar-brand {
    color: #FFFFFF;
    font: 100 30px 'Kaushan Script', cursive;
    user-select: none;
    position: relative;
    margin-top: -15px;
}

.social-media {
    margin-top: -10px;
    text-decoration: none;
}

.table-form {
    display: block;
    margin-top: 0em;
    margin-block-end: 0em;
}

.overflow-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}